<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="SuggeElson" />
    <meta name="description" content=""
    />
    <meta name="keywords" content=""
    />
    <meta name="application-name" content="sprFlat admin template" />
    <!-- Import google fonts - Heading first/ text second -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />
    <!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- Icons -->
    <link href="assets/css/icons.css" rel="stylesheet" />
    <!-- jQueryUI -->
    <link href="assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="assets/css/plugins.css" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="assets/css/main.css" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- Css files -->
    <!-- Icons -->
    <link href="assets/css/icons.css" rel="stylesheet" />
    <!-- jQueryUI -->
    <link href="assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="assets/css/plugins.css" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="assets/css/main.css" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="assets/img/ico/favicon.ico" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body class="login-page">
<!-- Start #login -->
<div id="login" class="animated bounceIn">
    <img id="logo" src="assets/img/logo.png" alt="sprFlat Logo">
    <!-- Start .login-wrapper -->
    <div class="login-wrapper">
        <ul id="myTab" class="nav nav-tabs nav-justified bn">

            <li class="">
                <a href="#registerh" data-toggle="tab">Register</a>
            </li>
            <li class="">
                <a href="#loginh" data-toggle="tab">login</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content bn">
            <div class="tab-pane fade active in" id="loginh">

                <div class="seperator">
                    <strong>输入您的识别码</strong>
                    <hr>
                </div>
                <form class="form-horizontal mt10" action="hostLogin1" id="hlogin-form" role="form">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" name="vcode" id="vcode" class="form-control left-icon" value="" placeholder="系统识别码">
                            <i class="ec-user s16 left-input-icon"></i>
                        </div>
                    </div>
                    <div class="form-group">

                        <!-- col-lg-12 end here -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                            <!-- col-lg-12 start here -->
                            <button class="btn btn-success pull-right" type="submit">Login</button>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="registerh">

                <div class="seperator">
                    <strong>申请您的场馆</strong>
                    <hr>
                </div>

                <div class="tab-pane" id="register">
                    <form class="form-horizontal mt20" id="hostRegister" role="form">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <!-- col-lg-12 start here -->
                                <input id="name" name="name" type="text" class="form-control left-icon" placeholder="输入场馆名称">
                                <i class="im-home s16 left-input-icon"></i>
                            </div>
                            <!-- col-lg-12 end here -->
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <!-- col-lg-12 start here -->
                                <input type="text" class="form-control left-icon" id="place" name="place" placeholder="输入场馆地点">
                                <i class="ec-location s16 left-input-icon"></i>
                            </div>
                            <!-- col-lg-12 end here -->
                            <div class="col-lg-12 mt15">
                                <!-- col-lg-12 start here -->
                                <input type="text" class="form-control left-icon" id="xsites" name="xsites" placeholder="排" >
                                <i class="im-text-height s16 left-input-icon"></i>

                            </div>
                            <div class="col-lg-12 mt15">
                            <input type="text" class="form-control left-icon" id="ysites" name="ysites" placeholder="列">
                            <i class="im-text-width s16 left-input-icon"></i>
                            </div>
                            <div class="col-lg-12 mt15">
                                <input type="text" class="form-control left-icon" id="vip1" name="vip1" placeholder="贵宾座排头">
                                <i class="im-text-height s16 left-input-icon"></i>
                            </div>
                            <div class="col-lg-12 mt15">
                                <input type="text" class="form-control left-icon" id="vip2" name="vip2" placeholder="贵宾座排尾">
                                <i class="im-text-height s16 left-input-icon"></i>
                            </div>
                            <div class="col-lg-12 mt15">
                                <!-- col-lg-12 start here -->
                                <textarea class="form-control left-icon" id="introduction" name="introduction" placeholder="输入简介"></textarea>
                                <i class="ec-info s16 left-input-icon"></i>
                            </div>
                            <!-- col-lg-12 end here -->
                        </div>
                        <div class="form-group">

                            <!-- col-lg-12 end here -->
                        </div>
                    </form>
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <button class="btn btn-success btn-block" value="submit" onclick="hostRegister()"
                        >Register</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End #.login-wrapper -->
    </div>
    <!-- End #login -->
    <!-- Javascripts -->
    <!-- Load pace first -->
    <script src="assets/plugins/core/pace/pace.min.js"></script>
    <!-- Important javascript libs(put in all pages) -->
    <script src="assets/js/jquery-1.8.3.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
    </script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
    </script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="assets/js/libs/excanvas.min.js"></script>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="assets/js/libs/respond.min.js"></script>
    <script src="assets/js/jquery.sprFlat.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/pages/wizard.js"></script>
    <![endif]-->
    <!-- Bootstrap plugins -->
    <script src="assets/js/bootstrap/bootstrap.js"></script>
    <!-- Form plugins -->
    <script src="assets/plugins/forms/icheck/jquery.icheck.js"></script>
    <script src="assets/plugins/forms/validation/jquery.validate.js"></script>
    <script src="assets/plugins/forms/validation/additional-methods.min.js"></script>
    <!-- Init plugins olny for this page -->
    <script src="assets/js/pages/login.js"></script>
    <script src="assets/js/pages/forms.js"></script>
    <script>
        function hostRegister() {

                //
                var name = $('#name').val();
                var place = $('#place').val();
                var introduction = $('#introduction').val();
                var xsites = $('#xsites').val();
                var ysites = $('#ysites').val();
                var vip1 = $('#vip1').val();
                var vip2 = $('#vip2').val();
                var id = Math.round((Math.random() * 9 + 1) * 1000000)
                var data = {
                    "hostId": id,
                    "name": name,
                    "introduction": introduction,
                    "place": place,
                    "xsites": xsites,
                    "ysites": ysites,
                     "vip1":vip1,
                    "vip2":vip2
                };
                $.ajax({
                    type: 'POST',
                    url: "/host/register1",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function () {
                        alert("您的识别码为" + id + ",请妥善保存，审批过后可登陆")

                        window.location.reload()
                    },
                    error: function () {

                    },
                    contentType: "application/json;charset=utf-8"
                });


        }
    </script>
</body>
</html>